body{
    margin: 0px;
    background: url(img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

}
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: blueviolet;
}
.main-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    position: relative;
    height: 100vh;

    
    
}
.poke-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.pokemon:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.opacity{
    background-color: black;
    opacity: 50%;
}


#card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;

}

#pokemonHeader{
    background-color: grey;
    color: white;
    font-size: 60px;
}

#pokeInfo{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: -50px;
    background-color: white;

}